 /*header  */

 .navbar {
     background-color: maroon;
     height: 70px;
 }

 .logo {
     height: 10vh;
     border-radius: 50px;
 }

 .home {
     margin-left: -30%;
     color: black;
 }

 /* home */
 .home-img {
     height: 60vh;
     width: 100%;
 }

 .poha {
     height: 30vh;
     border-radius: 130px;
     margin-left: 78%;
 }

 .poha:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .poha-h4 {
     margin-left: 83%;
     color: black;
     font-weight: bold;
 }

 .sandwich {
     margin-top: -320px;
     border-radius: 110px;
     margin-left: 55%;
     height: 29vh;
 }

 .sandwich:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .sandwich-h4 {
     margin-left: 58%;
     margin-top: -60px;
     font-weight: bold;
     color: black;
 }

 .chola {
     height: 30vh;
     border-radius: 80%;
     width: 15%;
     margin-left: 30%;
     margin-top: -20%;
 }

 .chola:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .chola-h4 {
     margin-left: 32%;
     color: black;
     font-weight: bold;
     margin-top: -55px;
 }

 .kachori {
     height: 30vh;
     border-radius: 80%;
     margin-top: -310px;
     margin-left: 80px;
 }

 .kachori:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .kachori-h4 {
     margin-left: 145px;
     margin-top: -50px;
     color: black;
     font-weight: bold;
 }

 .whats {
     text-align: center;
     margin-top: 30px;
     color: black;
     font-weight: bold;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 /* home-cards */
 .home-card1 {
     height: 40vh;
     width: 20%;
     margin-left: 3%;
     margin-top: 4%;
 }

 .home-card2 {
     height: 40vh;
     width: 20%;
     margin-left: 28%;
     margin-top: -19%;
 }

 .home-card3 {
     height: 40vh;
     width: 20%;
     margin-left: 53%;
     margin-top: -19%;
 }

 .home-card4 {
     height: 40vh;
     width: 20%;
     margin-left: 78%;
     margin-top: -19%;
 }

 .cart-burger {
     height: 40vh;
     width: 100%;
 }

 .cart-burger:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .cart-thali {
     height: 40vh;
 }

 .cart-thali:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .cart-man {
     height: 40vh;
     width: 100%;
 }

 .cart-man:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .cart-dosa {
     height: 40vh;
     width: 100%;
 }

 .cart-dosa:hover {
     box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.479);
     transition-duration: 0.2s;
 }

 .card-text {
     font-weight: bold;
     margin-top: -30px;
     margin-left: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 /* brand */
 .brand1 {
     border-radius: 90%;
     height: 20vh;
 }

 .brand1-h4 {
     margin-left: 70px;
     margin-top: 10px;
 }

 .brand2 {
     margin-left: 20%;
     border-radius: 50%;
     margin-top: -17%;
     height: 20vh;
 }

 .brand2-h4 {
     margin-left: 20%;
     margin-top: -57px;
 }

 .brand3 {
     margin-left: 37%;
     margin-top: -17%;
     border-radius: 60%;
     height: 23vh;
 }

 .brand3-h4 {
     margin-left: 41%;
     margin-top: -55px;
 }

 .brand4 {
     margin-left: 55%;
     margin-top: -17%;
     border-radius: 60%;
     height: 20vh;

 }

 .brand4-h4 {
     margin-left: 56%;
     margin-top: -55px;
 }

 .brand5 {
     margin-left: 70%;
     margin-top: -17%;
     border-radius: 60%;
     height: 20vh;

 }

 .brand5-h4 {
     margin-left: 70%;
     margin-top: -55px;
 }

 .brand6 {
     margin-left: 85%;
     margin-top: -17%;
     border-radius: 55%;
     height: 37vh;
     width: 190px;
 }

 .brand6-h4 {
     margin-left: 86%;
     margin-top: -58px;
 }

 .product-image {
     height: 40vh;
     width: 270px;
     display: flex;
 }

 .product-card-body {
     width: 30px;
     display: flex;
 }

 
 /* footer */
.h1{
    font-weight: bold;
    text-align: center;
}
 .footer-container {
     height: 20vh;
     background-color: aquamarine;
     margin-top: 60px;
 }

 .footer-h1 {
     margin-left: 100px;
     font-weight: bold;
     margin-top: 10px;
 }

 .google {
     margin-left: 800px;
     height: 70px;
     margin-top: -130px;
 }

 .app {
     margin-left: 100px;
     height: 70px;
     margin-top: -120px;

 }

 .footer-container1 {
     height: 60vh;
     background-color: black;
 }

 .footer-h3 {
     color: white;
     margin-left: 20%;
     padding-top: 30px;
 }

 .footer-h6 {
     color: white;
     margin-left: 20%;
 }

 .company {
     color: white;
     margin-left: 25%;
     margin-top: -60px;
 }

 .about {
     margin-left: 26%;
     color: white;
 }

 .followus {
     color: white;
     margin-left: 70%;
     margin-top: -140px;
     font-weight: bold;
 }

 .account {
     margin-left: 35%;
     margin-top: -11%;
     color: white;
 }

 .profile {
     margin-left: 35%;
     color: white;
 }

 .help {
     margin-left: 35%;
     color: white;
 }

 .myorder {
     margin-left: 35%;
     color: white;
 }

 .viewcart {
     margin-left: 35%;
     color: white;
 }

 .facebook {
     margin-left: 70%;
     border-radius: 150%;
     height: 5vh;
     margin-top: 20px;
 }

 .insta {
     margin-left: 75%;
     border-radius: 150%;
     height: 45px;
     margin-top: -65px;

 }

 .twitter {
     margin-left: 80%;
     border-radius: 150%;
     height: 45px;
     margin-top: -107px;

 }

 /* Our menu section */
 .h3 {
     margin-left: 30px;
     font-weight: bold;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top: 20px;
 }

 .menu1 {
     background-color: firebrick;
     height: 50vh;
     width: 95%;
     margin-left: 35px;
 }

 .product-img {
     height: 40vh;
     width: 303px;
     display: flex;
 }
 .category{
    width: 100%;
    height: 40vh;
    margin-top: 30px;
    margin-bottom: 60px;
 }
.gujrat-h3{
    margin-left: 95px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.gujrat{
    margin-left: 45px;
    border-radius: 100px;
    height: 28vh;
    width: 190px;
    margin-top: 2%;
}
.south{
    margin-left: 22%;
    border-radius: 100px;
    height: 28vh;
    width: 190px;
    margin-top: -20%;
}
.south-h3{
    margin-left: 23%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
margin-top: -4%;
}
.bihar{
    margin-left: 40%;
    border-radius: 100px;
    height: 28vh;
    width: 190px;
    margin-top: -21%;
}
.bihar-h3{
    margin-left: 44%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
margin-top: -4%;
}
.maharashtra{
    margin-left: 60%;
    border-radius: 100px;
    height: 28vh;
    width: 190px;
    margin-top: -21%;
}
.maharashtra-h3{
    margin-left: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
margin-top: -4%;
}
.chines{
    margin-left: 80%;
    border-radius: 100px;
    height: 28vh;
    width: 190px;
    margin-top: -22%;
}
.chines-h3{
    margin-left: 83%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
margin-top: -4%;
}
 /* login */
 .gradient-custom-2 {
     /* fallback for old browsers */
     background: #fccb90;

     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
 }

 @media (min-width: 768px) {
     .gradient-form {
         height: 140vh !important;
     }
 }

 @media (min-width: 769px) {
     .gradient-custom-2 {
         border-top-right-radius: .3rem;
         border-bottom-right-radius: .3rem;
     }
 }
.welcome{
    font-weight: bold;
    margin-top: -180px;
    font-size: 70px;
}
.to{
text-align: center;
margin-top: 40px;
font-weight: bold;
font-size: 70px;
}
.khana{
    margin-top: 30px;
    font-weight: bold;
    font-size: 70px;
    
}
.khajana{
    margin-top: 50px;
    font-weight: bold;
    font-size: 70px;
    
}
 /* thank */
 
.thankyou-wrapper{
  width:100%;
  height:auto;
  margin:auto;
  background:#ffffff; 
  padding:10px 0px 50px;
}
.thankyou-wrapper h1{
  font:100px Arial, Helvetica, sans-serif;
  text-align:center;
  color:#333333;
  padding:0px 10px 10px;
}
.thankyou-wrapper p{
  font:26px Arial, Helvetica, sans-serif;
  text-align:center;
  color:#333333;
  padding:5px 10px 10px;
}
.thankyou-wrapper a{
  font:26px Arial, Helvetica, sans-serif;
  text-align:center;
  color:#ffffff;
  display:block;
  text-decoration:none;
  width:250px;
  background:#E47425;
  margin:10px auto 0px;
  padding:15px 20px 15px;
  border-bottom:5px solid #F96700;
}
.thankyou-wrapper a:hover{
  font:26px Arial, Helvetica, sans-serif;
  text-align:center;
  color:#ffffff;
  display:block;
  text-decoration:none;
  width:250px;
  background:#F96700;
  margin:10px auto 0px;
  padding:15px 20px 15px;
  border-bottom:5px solid #F96700;
}
/* contact */
  
  .contact-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .contact-card {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .left {
    width: 25vw;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .left img {
    width: inherit;
    object-fit: cover;
    transform: scale(2.3);
  }
  
  .right .contact {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
  }
  
  .form, .address {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
  }
  
  .form input, textarea {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    margin: 5px 0;
  }
  
  .usersubmit input {
    background-color: #f25;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: min-content;
    padding: 15px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .usersubmit input:hover {
    background-color: #f45;
  }
  
  .address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 700px) {
    .card {
      flex-direction: column;
    }
    
    .left {
      width: 60vw;
      height: 40vh;
    }
  }
  
  @media screen and (max-width: 350px) {
    .container {
      overflow: hidden;
    }
    .left {
      height: 20vh;
    }
    .contact {
      flex-direction: column;
    }
  }
  .contact-img{
    height: 85vh;
  }
  /* marquee */

  
.marquee img{
    width: 8rem;
    padding: 30px;
    border-radius: 15px;
  }
  
  .marquee .card{
    border: none;
  }
  