 /*header  */

 .navbar {
     background-color: maroon;
     height: 70px;
 }

 .logo {
     height: 10vh;
     border-radius: 50px;
 }

 .home {
     margin-left: -30%;
     color: black;
 }

 /* home- boxes */

 .box-container {
     width: 98%;
     height: 65vh;
     margin-left: 1%;
 }

 .box-container:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .box1 {
     background-color: #4B0082;
     width: 20%;
     height: 40vh;
     margin-top: -27%;
     margin-left: 3%;
 }

 .box1:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .box-img-1 {
     width: 20%;
     height: 40vh;
     margin-top: -22%;
     margin-left: 3%;
 }

 .box-img-1:hover {

     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;


 }

 .box2 {
     background-color: pink;
     width: 20%;
     height: 40vh;
     margin-left: 27%;
     margin-top: -22%;
 }

 .box2:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .box-img-2 {
     width: 20%;
     height: 40vh;
     margin-top: -22%;
     margin-left: 27%;
 }

 .box-img-2:hover {

     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;


 }

 .box3 {
     background-color: yellow;
     width: 20%;
     height: 40vh;
     margin-left: 52%;
     margin-top: -22%;

 }

 .box3:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .box-img-3 {
     width: 20%;
     height: 41vh;
     margin-top: -22%;
     margin-left: 52%;
 }

 .box-img-3 :hover{

     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;


 }

 .box4 {
     background-color: black;
     width: 20%;
     height: 40vh;
     margin-left: 77%;
     margin-top: -22%;

 }

 .box4:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .box-img-4 {
     width: 20%;
     height: 40vh;
     margin-top: -22%;
     margin-left: 77%;
 }

 .box-img-1:hover {

     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;


 }

 /* home*/

 .container-home {
     margin-top: 55px;
     width: 90%;
     margin-left: 70px;
 }

 .whats {
     font-weight: bolder;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     padding-top: 40px;
 }

 .poha {
     height: 30vh;
     border-radius: 130px;
     margin-left: 78%;
 }

 .poha:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 4px 4px 30px 8px #00000056;

 }


 .sandwich {
     margin-top: -250px;
     border-radius: 110px;
     margin-left: 55%;
     height: 29vh;
 }

 .sandwich:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 4px 4px 30px 8px #00000056;

 }


 .chola {
     height: 30vh;
     border-radius: 80%;
     width: 17%;
     margin-left: 30%;
     margin-top: -22%;
 }

 .chola:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 4px 4px 30px 8px #00000056;
 }


 .kachori {
     height: 30vh;
     border-radius: 80%;
     margin-top: -22%;
     margin-left: -43%;
 }

 .kachori:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 4px 4px 30px 8px #00000056;

 }



 /* home-marquee */
 .marquee {
     margin-top: 25px;
     width: 100%;
     margin-right: -30%;
 }

 .marquee-img {
     height: 40vh;
     width: 20%;
 }

 /* footer */
 .h1 {
     font-weight: bold;
     text-align: center;
     margin-top: 60px;
 }

 .footer-container {
     height: 10vh;
     background-color: aquamarine;
     margin-top: 50px;
 }

 .footer-h1 {
     margin-left: 100px;
     font-weight: bold;
     margin-top: 10px;
 }

 .google {
     margin-left: 800px;
     height: 50px;
     margin-top: -80px;
 }

 .app {
     margin-left: 100px;
     height: 50px;
     margin-top: -80px;

 }

 .footer-container1 {
     height: 65vh;
     background-color: black;

 }

 .footer-h3 {
     color: white;
     margin-left: 20%;
     padding-top: 30px;
 }

 /* https://freevector-images.s3.amazonaws.com/uploads/vector/preview/41114/Vector4free-Junk-Food-Seamless-DP0422_generated.jpg     */
 .footer-h6 {
     color: white;
     margin-left: 20%;
 }

 .company {
     color: white;
     margin-left: 25%;
     margin-top: -60px;
 }

 .about {
     margin-left: 26%;
     color: white;
 }

 .followus {
     color: white;
     margin-left: 70%;
     margin-top: -90px;
     font-weight: bold;
 }

 .account {
     margin-left: 35%;
     margin-top: -9%;
     color: white;
 }

 .profile {
     margin-left: 35%;
     color: white;
 }

 .help {
     margin-left: 35%;
     color: white;
 }

 .myorder {
     margin-left: 35%;
     color: white;
 }

 .viewcart {
     margin-left: 35%;
     color: white;
 }

 .facebook {
     margin-left: 70%;
     border-radius: 150%;
     height: 5vh;
     margin-top: 20px;
 }

 .insta {
     margin-left: 75%;
     border-radius: 150%;
     height: 45px;
     margin-top: -65px;

 }

 .twitter {
     margin-left: 80%;
     border-radius: 150%;
     height: 45px;
     margin-top: -107px;

 }

 /* login */
 .gradient-custom-2 {
     /* fallback for old browsers */
     background: #fccb90;

     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
 }

 @media (min-width: 768px) {
     .gradient-form {
         height: 140vh !important;
         width: 200vh;
     }
 }

 .login-user {
     height: 95vh;
     margin-left: 8%;
 }

 @media (min-width: 769px) {
     .gradient-custom-2 {
         border-top-right-radius: .3rem;
         border-bottom-right-radius: .3rem;

     }
 }

 .welcome {
     font-weight: bold;
     margin-top: -50px;
     font-size: 70px;
 }

 .to {
     text-align: center;
     margin-top: 40px;
     font-weight: bold;
     font-size: 70px;
 }

 .navabi {
     margin-top: 30px;
     font-weight: bold;
     font-size: 70px;

 }

 .tadka {
     margin-top: 50px;
     font-weight: bold;
     font-size: 70px;
     margin-left: 90px;
 }

 /* signup */
 .signup {
     background-image: url('public/homeimg/signup.jpeg');
     background-size: cover;
 }

 .signup-container {
     margin-left: 30%;
     height: 100vh;
 }

 .signup-card-body {
     height: 80vh;
 }

 .signup-card {
     height: 80vh;
     margin-top: 10%;
     margin-left: 10%;
 }

 .signup-now {
     font-weight: bolder;
     color: black;
 }

 .signup-h4 {
     color: black;
     font-weight: bold;
 }

 /* recipe */

 .recipe-container {
     margin-left: 10%;
 }

 .recipe-card {
     width: 50%;
     margin-left: 28%;
     padding-top: 30px;
 }

 .recipe {
     background-image: url('public/homeimg/add recipe.jpeg');
     height: 120vh;
     background-size: cover;
 }

 .recipe-card-body {
     background-image: url('public/homeimg/add recipe.jpeg');
     background-size: cover;

 }

 .addrecipe-h4 {
     margin-left: 40px;
     color: black;
     font-weight: bold;
 }

 .form-control {
     width: 85%;
     margin-left: 7%;
 }

 .navbar {
     background-color: whitesmoke;
     height: 90px;
 }


 .home {
     margin-left: -30%;
     color: black;
 }

 /* browse-section */
 .browse-background {
     background-size: cover;
 }

 .browse-card {}

 /* show -section */
 /* .show-card{
    width: 70%;
    margin-left: 15%;
    
} */

 .showrecipe-card {
     width: 80%;
     height: 30vh;
     margin-left: 10%;
     padding-top: 80px;
 }

 .show-background {
     background-size: cover;
 }

 /* about-container */
 .about-container {
     height: 70vh;
     width: 100%;
     margin-top: 50px;
 }

 .about-header {
     height: 50vh;
     width: 100%;
 }

 .about-header-img {
     height: 75vh;
     width: 100%;
 }

 .about-container {
     height: 75vh;
     background-color: #bbb;
     width: 75%;
     margin-left: 12%;
     margin-top: 15%;
 }

 .about-container:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .about-img {
     height: 75vh;
     width: 50%;
 }

 .about-h3 {
     margin-left: 53%;
     margin-top: -43%;
 }

 .review-container {
     height: 90vh;
     width: 70%;
     margin-top: 2%;
     margin-left: 15%;
 }

 .review-container:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .review1-card {
     height: 35vh;
     width: 25%;
     margin-top: -41%;
     margin-left: 20%;
 }

 .review2-card {
     height: 35vh;
     width: 25%;
     margin-top: -19%;
     margin-left: 55%;
 }

 .review3-card {
     height: 35vh;
     width: 25%;
     margin-left: 20%;
 }

 .review4-card {
     height: 35vh;
     width: 25%;
     margin-left: 55%;
     margin-top: -19%;
 }

 .review1-card:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .review2-card:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .review3-card:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .review4-card:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .review-card-body {
     margin-top: 10%;
 }

 .customer {
     margin-top: 10%;
     text-align: center;
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #4B0082;
     font-size: 55px;
 }

 .review-h5 {
     text-align: center;
 }

 .review-icon1 {
     height: 18vh;
     margin-left: 30%;
     margin-top: 22px;
 }

 .review-icon2 {
     height: 18vh;
     margin-left: 30%;
     margin-top: 36px;
 }

 .review-icon3 {
     height: 18vh;
     margin-left: 30%;
     margin-top: 25px;
 }

 .review-icon4 {
     height: 18vh;
     margin-left: 30%;
     margin-top: 18px;
 }

 /* about-marquee */
 .marquee img {
     width: 18rem;
     padding: 30px;
     border-radius: 55%;
 }

 .marquee .card {
     border: none;
     background: none;
 }

 /* show */
 .card-img {
     height: 85vh;
     width: 90%;
     margin-left: 5%;
 }

 .card-body {
     background-color: whitesmoke;
 }

 .card-footer {
     background-color: whitesmoke;

 }

 .show-container1 {
     height: 160vh;
 }

 /* manage */
 .manage {
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 50px;
 }

 /* profile */
 .profile-container {
     /* background-color: #bbb; */
     height: 100vh;
     width: 70%;
     margin-left: 15%;
     margin-top: 30px;
 }

 .profile-container:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .profile-card {
     /* background-color: white; */
     width: 80%;
     margin-left: 15%;
 }

 .profile-card:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .profile1-card {
     width: 95%;
 }

 .profile1-card:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .profile-card-body {
     /* background-color: white; */
     border-radius: 10px;
 }

 .profile-card-body:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .profile-text {
     font-weight: bold;
     text-align: center;
     height: 15px;

 }

 .profile-card1 {
     width: 90%;
     height: 200vh;
 }

 .profile-card1:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .profile-card-body1 {
     height: 45vh;
     /* background-color: white; */
     border-radius: 10px;
 }

 .profile-card-body1:hover {
     transition: 0.8s ease-in-out;
     transform: scale(1.1s);
     box-shadow: 5px;
     box-shadow: 10px 10px 30px 8px #00000056;
 }

 .heading {
     margin-left: 15px;
     color: black;
 }